<% post_image.comments.each do |comment| %>
  <div class="row py-2">
    <div class="col-3 my-auto">
      <%= attachment_image_tag comment.user, :profile_image, :fill, 70, 70, fallback: "img/no-image5.jpeg", size: '60x60', class: "rounded-circle" %>
    </div>
    <div class="col-3 my-auto">
      <%= comment.user.account_name %>
    </div>
    <div class="col-5 my-auto word-break">
      <%= comment.comment %>
    </div>
    <div class="col-1 my-auto">
      <% if comment.user == current_user %>
        <%= link_to post_image_comment_path(comment.post_image, comment), method: :delete, remote: true, class: "btn btn-outline-dark", data: { confirm: "本当に削除しますか？" } do %>
          <span><i class="fas fa-trash-alt"></i></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>