<div class="container my-5">
  <div class="row col-8 mx-auto">
    <div class="col">
      <%= image_tag 'img/Top.jpg', size: '600x420' %>
      <p class="text-center mt-4">
       Welcome to "Bread Life"</br>
       美味しいパンと過ごす時間は、どんな時でも私たちを癒してくれる素敵な時間です。</br>
       そんな時間を切り取って、記録して、共有してください。</br>
       皆様にとって素敵なBread Lifeを過ごせますように。
     </P>
    </div>
  </div>
</div>