/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 .like-btn {
 color: #fa8072;
 }

 .unlike-btn {
 color: #fa8072;
 }

 #no-underline, #non-underline {
  text-decoration: none;
  color: black;
}

.underline {
 position: relative;
 display: inline-block;
 padding: 0 65px;
 text-align: center;
}

.underline:before,
.underline:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.underline:before {
  left: 0;
}

.underline:after {
  right: 0;
}


.crown {
 position: relative;
}

.crown-p {
 position: absolute;
 color: white;
 top: 5%;
 left: 8%;
}

.alert {
 color:#262626;
 background:#FFEBE8;
 text-align: center;
 border:2px solid #990000;
 padding:12px; font-weight:850;
}

.error_message {
 list-style: none;
}

#error_explanation {
 color:#262626;
 background:#FFEBE8;
 text-align: center;
 border:2px solid #990000;
 padding:12px; font-weight:850;
}

header, .title, footer {
 font-family: Georgia, Gungsuh, Batang, "Pussycat Snickers", sans-serif;
}

.overflow-wrap {

}